---
import Layout from "../layouts/Layout.astro";
import Formulario from "../components/Formulario";
import Servicios from "../components/Servicios.astro";
import FormContact from "../components/FormContact.astro";
---

<Layout title="Contacto">
  <div class="snap-center">
    <FormContact />
  </div>
</Layout>
