---
import Layout from "../layouts/Layout.astro";
import Historia from "../components/Historia.astro";
import Antecedentes from "../components/Antecedentes.astro";
import Valores from "../components/Valores.astro"
---

<Layout title="Quienes Somos">
  <div class="snap-center">
    <Antecedentes />
  </div>
  <div class="snap-center">
    <Historia />
  </div>
  <div class="snap-center">
    <Valores />
  </div>
</Layout>
