---
import Sectionvicios from "./Sectionvicios.astro";
---

<Sectionvicios
  tittle="ANTECEDENTES"
  subtittle="Empresa fundada en Costa Rica, en el año 2005 por un grupo de profesionales del Agro. La empresa nace con el propósito de desarrollar soluciones de gestión empresarial a la medida, para empresas y organizaciones productivas y comerciales del Agro en Latinoamérica. A partir delaño 2010, Agroclick se convierte en socio inversionista de responsAbility Investments AG para desarrollar cartera en Agronegocios en Centro y Sur América."
  color="white"
>

  <!-- <div slot="contenido" class="container mx-auto bg-zinc-900/80">
    <div class="col-span-1 text-center p-4 bg-blue-500/50">
      <p><strong>NUESTRA MISIÓN</strong></p>
    </div>
    <div class="text-2xl text-center p-4">
      <p class="text-white">
        Empresa fundada en Costa Rica, en el año 2005 por un grupo de profesionales del Agro. La empresa nace con el propósito de desarrollar soluciones de gestión empresarial a la medida, para empresas y organizaciones productivas y comerciales del Agro en Latinoamérica. A partir delaño 2010, Agroclick se convierte en socio inversionista de responsAbility Investments AG para desarrollar cartera en Agronegocios en Centro y Sur América.
      </p>
    </div>
  </div>
  <div slot="contenido" class="container mx-auto bg-zinc-900/80">
    <div class="col-span-1 text-center p-4 bg-blue-500/50">
      <p><strong>NUESTRA MISIÓN</strong></p>
    </div>
    <div class="text-2xl text-center p-4">
      <p class="text-white">
        Empresa fundada en Costa Rica, en el año 2005 por un grupo de profesionales del Agro. La empresa nace con el propósito de desarrollar soluciones de gestión empresarial a la medida, para empresas y organizaciones productivas y comerciales del Agro en Latinoamérica. A partir delaño 2010, Agroclick se convierte en socio inversionista de responsAbility Investments AG para desarrollar cartera en Agronegocios en Centro y Sur América.
      </p>
    </div>
  </div> -->
  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/agroclick/4low.jpg"
  />
</Sectionvicios>
