---
import Section from "./Section.astro";
---

<Section
  tittle="Servicio de Audtoria"
  subtittle="Agroclick hace auditorías de segunda y tercera parte para verificación de normas sostenibles para verificación de normas sostenibles y de sistemas de gestión (Agricultura Sostenible) así como auditorías financieras; para fortalecer la gestión y rendición de cuentas del giro del negocio."
  color="white"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="quienes_somos">Leer más</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="contacto"
    >
      Contactenos</a
    >
  </div>
  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/ser_auditoria.png"
  >
  </img>
</Section>
