---
import Section from "./Section.astro";
---

<Section
  tittle="Modelo S"
  subtittle="Concertar una prueba de conducción"
  color="black"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#">Prueba de conducción</a
    >
    <a
          class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
          href="#">Pedido Personalizado</a
        >
  </div>
  <img 
      slot="background"
      src="/agroclick/modelo-s.webp"
      alt="Model S"
      class="h-full w-full object-cover object-center"
    />
</Section>


<!-- <section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model S</h2>
      <p class="text-white text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-6 flex mx-auto">
        <a
          class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:bg-black hover:text-white"
          href="#">Explorar inventario</a
        >
        <a
          class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
          href="#">Pedido Personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="public/modelo-s.webp"
      alt="Model S"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section> -->
