---
import Section from "./Section.astro";
---

<Section
  tittle="Servicio financiero"
  subtittle="Agroclick le apoya en su estrategia financiera para asegurar la operación del negocio, estructuraciones y reestructuraciones con el objeto de fortalecer la estructura financiera de la empresa. Gestión de capital de trabajo y de inversiones de capital, que requiere el crecimiento y desarrollo de su empresa."
  color="white"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="quienes_somos">Leer más</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="contacto"
    >
      Contactenos</a
    >
  </div>
  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/ser_financiero.png"
  >
  </img>
</Section>
