---
import Sectionvicios from "./Sectionvicios.astro";
---

<Sectionvicios
  tittle="¿QUIÉNES SOMOS?"
  subtittle="AgroClick también actúa como catalítico para la movilización de recursos humanos, financieros y comerciales disponibles en el mercado agrícola."
  color="white"
>
  <!-- <div slot="contenido" class="container mx-auto bg-zinc-900/80">
    <div class="col-span-1 text-center p-4 bg-green-500">
      <p>ra ra ra</p>
    </div>
    <div class="col-span-2 text-center p-4">
      <p class="text-white text-align-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt amet
        repudiandae blanditiis asperiores delectus! Neque quia, beatae minima
        voluptatem dignissimos error ea, ipsum atque, autem eos voluptates
        saepe. Quo, molestias!
      </p>
    </div>
  </div> -->
  <div slot="contenido" class="container mx-auto bg-zinc-900/80">
    <div class="col-span-1 text-center p-4 bg-blue-500/50">
      <p><strong>NUESTRA MISIÓN</strong></p>
    </div>
    <div class="text-2xl text-center p-4">
      <p class="text-white">
        Fortalecer agronegocios en América Latina mediante la asesoría en inversiones, gestión de financiamiento, verificación de sistemas de producción y la capacitación en la gestión de riesgos y sistemas internos de control.
      </p>
    </div>
  </div>
  <div slot="contenido" class="container mx-auto bg-zinc-900/80">
    <div class="col-span-1 text-center p-4 bg-red-500/50">
      <p><strong>NUESTRA VISION</strong></p>
    </div>
    <div class="text-center text-2xl p-4">
      <p class="text-white">
        Ser un referente en Latinoamérica en el desarrollo de Agronegocios que siguen los Objetivos de Desarrollo Sostenible.
      </p>
    </div>
  </div>
  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/agroclick/3low.jpg"
  />
</Sectionvicios>
