---
import Section from "./Section.astro";
---

<Section
  tittle="SU GESTIÓN DE MERCADO"
  subtittle="Agroclick facilita el contacto entre agronegocios y fondos especializados en agricultura. Le apoya en la preparación de información para la gestión de fondos de capital de trabajo o inversiones de capital; recomienda el fondo que se ajuste a su necesidad, prepara la empresa para la debida diligencia y la presentación de la operación en forma efectiva."
  color="white"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="quienes_somos">Leer más</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="contacto"
    >
      Contactenos</a
    >
  </div>
  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/ser_riesgo.png"
  >
  </img>
</Section>
