---
import Section from "./Section.astro";
import Card from "./Card.astro";
---

<Section
  tittle="Nuestros Servicios"
  subtittle="Estos son los servicios que manejamos en AgroClick"
  color="white"
>
  <div slot="footer" class="grid grid-cols-4 gap-4 px-10 mr-auto">
        <Card title="Estrategia Financiera" body="Le ayudamos con sus finanzas" href="/agroclick/asesorias_agroclick" />
        <Card title="Gestion de Mercadeo" body="Planteamos estrategias de mercadeo" href="/agroclick/asesorias_agroclick" />
        <Card title="Manejo de Riesgo" body="Servicio de auditoria para el manejo de riesgo" href="/agroclick/asesorias_agroclick" />
        <Card title="Auditoria" body="para fortalecer la gestión y rendición" href="/agroclick/asesorias_agroclick" />
  </div>
  <img
    slot="background"
    class="object-center object-cover h-full w-full"
    src="/agroclick/ser_mercadeo.png"
  >
  </img>
</Section>
